/* Write your CSS code here */
.registrationFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.formTitle {
  color: #ea580c;
}
.viewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inputLabel {
  line-height: 15px;
  color: #475569;
}
.nameInputField {
  border: 1px solid #cbd2d9;
  color: #9aa5b1;
  outline: none;
}
.successImage {
  width: 70px;
}
.submitButton {
  color: white;
  background-color: #ea580c;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.errorField {
  border: 1px solid #ff0b37;
  background-color: #fef2f4;
}
.errorMessage {
  align-self: start;
}
